@{ int num = 0;}
@foreach (var item in ViewBag.Results)
{
	<br />
	<p>Alert Status!!: @item.Alert</p>
	<p>Where did it hit?: @item.Place</p>
	<p>Gimme the longitude: @item.Longitude</p>
	<p>Now Latitude kthx: @item.Latitude</p>
	<p> @item.Time </p>
	num++;
	<p>@num</p>
	<br /><br />
}
<p>@num</p>