@{ int num = 0;}

@foreach (var item in ViewBag.Results)
{
	num++;
	<br/><br />
	<h3>EARTHQUAKES!</h3>
	<div id="QuakeData">
		<br />

		<p>Magnitude: @item.Magnitude</p>
		<p>Where did it hit?: @item.Place</p>
		<p>Gimme the longitude: @item.Longitude</p>
		<p>Now Latitude kthx: @item.Latitude</p>
		<p> @item.Time </p>
		<br /><br />
        
	</div>

}

<p>Number of Earthquakes all day erry day: @ViewBag.Count</p>
