@{ int num = 1;}


@foreach (var item in ViewBag.Results)
{
	<br/><br />
	<h3>EARTHQUAKES!</h3>
	<div id="QuakeData">
		<br />
		@if (item.Alert == "orange")
		{
			<p>WE'RE GONNA FUCKIN DIE!</p>
		}
		else
		{
		<p>Alert Status!!: @item.Alert</p>
		}
		<p>Where did it hit?: @item.Place</p>
		<p>Gimme the longitude: @item.Longitude</p>
		<p>Now Latitude kthx: @item.Latitude</p>
		<p> @item.Time </p>
		<br /><br />
	</div>

}

<p>Number of Earthquakes all day erry day: @num</p>
