
<h3>TORNADOS</h3>

@foreach (var item in ViewBag.TornadoList)
{
<div id="Tornados">
    <br />
    @if (item.Longitude != null)
    {
    <p>Longitude: @item.Longitude</p>
    <p>Latitude @item.Latitude</p>
    }
    <p>Alert/Title: @item.Alert</p>
    <p>Date: @item.Time</p>
   
    <br />
    <br />
</div>
	<br/>
}

    <p>@ViewBag.TornadoCount</p>