<!DOCTYPE Html>
<html>
<head>
	<title>All US Tornados</title>
</head>
<body>
	<h3>TORNADOS</h3>

	@foreach (var item in ViewBag.TornadoList)
	{
		<div id="Tornados">
			<br />
			<p>Incident: @item.incidentType</p>
			<p>Disaster Name: @item.disasterName</p>
			<p>State: @item.stateName</p>
			<p>Declaration/Alert: @item.declarationType</p>
			<p>Date: @item.incidentBeginDate</p>
			<br />
			<br />
		</div>
		<br />
	}

	<p>@ViewBag.TornadoCount</p>
</body>
</html>